<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
       <!--<property name ="dialect">org.hibernate.dialect.MySQL5Dialect</property>--> 
       <property name ="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>     
       <property name ="hibernate.connection.url">jdbc:mysql://localhost:3306/mycart</property>
       <property name ="hibernate.connection.username">root</property>      
       <property name ="hibernate.connection.password">password@123</property>
  
       <property name ="hibernate.hbm2ddl.auto">update</property>      
       <property name ="hibernate.show_sql">true</property>
<!--       <mapping class="com.mycompany.ecommerce.entities.User"/>
       <mapping class="com.mycompany.ecommerce.entities.Category"/>
       <mapping class="com.mycompany.ecommerce.entities.Product"/>-->
   </session-factory>


   </session-factory>
</hibernate-configuration>
